*{text-decoration: none; color: black; font-family: 'Open Sans', sans-serif; margin: 0px;}
.toposite
{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}
.topodireitosite
{
    font-size: 12px;
    align-items: center;
    display: flex;
    gap: 50px;
}
.inscrever
{
    background-color: #7ED32166;
    border-radius: 20px;
    width: 150px;
    padding: 10px;
    text-align: center;
}
.meiosite
{
    padding-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-right: 100px;
}
.textomeiosite
{
    font-size: 25px;
}
.inscreverseh
{
    background-color: #7ED321;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}