*{text-decoration: none; color: black; font-family: 'Open Sans', sans-serif; margin: 0px;}
.toposite
{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}
.topodireitosite
{
    font-size: 12px;
    align-items: center;
    display: flex;
    gap: 50px;
}
.Inscrever
{
    background-color: #7ED32166;
    border-radius: 20px;
    width: 150px;
    padding: 10px;
    text-align: center;
}
.meiosite
{
    padding-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-right: 100px;
}
.textomeiosite
{
    justify-content: center;
    text-align: justify;
    font-size: 25px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 35px;
    
}
.quemsomos
{
    padding-top: 50px;
    font-size: 25px;
    text-align: center;
}
.imagem
{
    text-align: center;
}